<div cdkDropListGroup>
  <div class="example-container">
    <h2>To do</h2>

    <div
      cdkDropList
      id="todoList"
      [cdkDropListData]="todosService.todosListGrouped()?.['false']"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      @for (item of todosService.todosListGrouped()['false']; track item?.id) {
      <div class="example-box" cdkDrag>{{ item?.todo }}</div>
      }
    </div>
  </div>

  <div class="example-container">
    <h2>Done</h2>

    <div
      cdkDropList
      id="doneList"
      [cdkDropListData]="todosService.todosListGrouped()['true']"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      @for (item of todosService.todosListGrouped()['true']; track item?.id) {
      <div class="example-box" cdkDrag>{{ item?.todo }}</div>
      }
    </div>
  </div>
</div>
